.mobile{display: none;}





@media (max-width:1460.8px) {



}
@media (max-width:1390.8px) {

}
@media (max-width:1366.8px) {


}
@media (max-width:1280.8px) {



}


@media (max-width:1199.8px) {

}


@media (max-width:1024.8px) {




}









@media (max-width:991.8px) {
.navbar-toggler{top: 0px; right: 15px;}
.navbar-collapse {position: absolute;top: 100%;width: 100%;left: 0px;z-index: 9999;border-radius:21px;background:#C3E2D9; padding: 30px 30px; margin-top:12px;}
.navmenu .nav-item a {font-size: 18px;padding: 0px 0px;}
.navmenu li{margin-bottom: 30px;}
.navbar-nav {align-items: normal;}
.contact-button .btn{font-size: 18px; padding: 0px;}


.homebanner{padding: 110px 0px;}
.home-hd h1{font-size: 50px;}
.category-grid{border: 0px;}
.precision-section{padding: 40px 0px;}
.realized-hd h2{font-size: 40px;}
.crafted-container{margin: 40px 0px; display: block;}
.crafted-left{margin-bottom: 50px;}
.crafted-right{margin-bottom: 40px;}
.products-section{padding: 40px 0px 60px 0px;}
.products-section h3{font-size: 40px;}


.slideitem {flex: 0 0 calc(40% - 40px);}
.product-werap h5{font-size: 16px;}
.slider {justify-content: flex-start;}
.hero-section{padding: 110px 0px 40px 0px;}
.hero-content h2 span{left: 0px;}
.hero-content h2{font-size: 45px; line-height: 50px;}
.available-text{font-size: 16px; margin-top: 20px;}

.experience-section{padding: 60px 0px;}
.hd-exper h3{font-size: 50px; }

.intro-wrapper{padding: 40px 0px;}
.intro-heading h1{font-size: 80px;text-align: center; line-height: normal;}
.intro-heading h1 span{text-align: center; font-size: 80px; display: inline-block; }
.intro-heading p{text-align: center; position: relative; top: 0px; margin: 0 auto;}
.enqure-btn{margin-top: 20px;}

.follow-wrapper{padding: 40px 0px 80px 0px;}
.footer-section{padding: 40px 0px;}
.footer-werap{display: block;}
.footer-icons {margin-bottom: 30px;justify-content: left;margin-top: 30px;}

.copyright{height: 450px;}







.mobile {display: block;}



.desktop{display: none;}
.mobilesilder{display: block;}


 .story-item {
    flex-direction: column;
    text-align: left;
  }
  .story-img img {
    max-width: 100%;
  }








}






@media (max-width:767.8px) {



}





@media (max-width:576.8px) {
  .container {padding: 0px 20px;}
.engineered {background-image: url(../images/Elegance-engineered2.svg); display: flex; align-items: end; padding:40px 30px; height: 480px;}
.experience-section{background-image: url('../images/Experience-banner2.svg');height: 580px;display: flex; align-items: end;}
.quiettext h3{font-size: 40px;}
.slideitem {flex: 0 0 100%;}
.slider{gap: 0px;}
.category-grid { grid-template-columns: repeat(1, 1fr);}
.category-box1 p{text-align: left;}
.category-box2 p{text-align: left;}
.category-item{border-right: 0px;}
.homebanner {background-image: url(../images/Home-banner2.svg); height: 680px;padding: 160px 0px;}
.home-hd {display: flex;flex-direction: column;justify-content: center;gap: 280px;}
.home-hd h1 {font-size: 34px;font-weight: 300;letter-spacing: -1.02px;}
.realized-hd h2 {font-size: 34px;letter-spacing: -1.02px;}
.precision-text h3{font-size: 16px;letter-spacing: -0.48px;}
.precision-text p{font-size: 14px;letter-spacing: -0.42px;}
.quiettext h3 {font-size: 24px;letter-spacing: -0.72px;}
.quiettext p{font-size: 14px;letter-spacing: -0.42px;}
.products-section h3 {font-size: 34px;letter-spacing: -1.02px;}
.product-werap h5 {max-width: 230px;margin: 0 auto 6px;}
.product-werap p{font-size: 14px;letter-spacing: -0.42px;}
.shop-btn .btn {padding: 18px 30px; font-size: 12px;}
.controlarrow .prev {left: 5%;}
.controlarrow .next {right: 5%;}

 .hero-content h2 {font-size: 24px;line-height:normal;gap: 0px 90px;}
.available-text{font-size: 12px;}
.hd-exper h3 {font-size: 24px;letter-spacing: -0.72px; margin-bottom: 10px;}
.hd-exper p{font-size: 14px;letter-spacing: -0.42px; margin-bottom: 20px;}
.hd-exper a{font-weight: 500;}
.intro-heading h1 {font-size: 55px;line-height: 51px;letter-spacing: -1.65px;}
.intro-heading h1 span{font-size: 55px;}
.intro-heading p{font-size: 14px;letter-spacing: -0.42px;}
.enqure-btn .btn{padding: 18px 30px; width: 100%; font-weight: 12px;}
.follow-wrapper h4{font-size: 24px;letter-spacing: -0.72px;}

.brand-logo {float: inherit;text-align: center; margin-bottom: 50%; position: relative;}
.copyright{padding: 100px 0px;}
.copyright p{font-size: 24px;line-height: normal;letter-spacing: -0.72px; max-width: 224px; margin: 0 auto;}

.follow-card {margin-top: 20px;padding: 0px 44px;}
.mobilesilder .owl-next:before {bottom: auto;top: 43%;left: auto;}
.mobilesilder .owl-prev:before{bottom: auto;top: 43%; right: auto;}
.follow-wrapper {padding: 40px 0px 40px 0px;}







}
@media (max-width:480.8px) {




}


@media (max-width:425.8px) {
 
}





@media (max-width:390.8px) {



}



@media (max-width:340.8px) {
 



}


@media (max-width:330.8px) {
 
}