.mobile{display: none;}





@media (max-width:1460.8px) {



}
@media (max-width:1390.8px) {

}
@media (max-width:1366.8px) {


}
@media (max-width:1280.8px) {



}


@media (max-width:1199.8px) {

}


@media (max-width:1024.8px) {




}









@media (max-width:991.8px) {
.navbar-toggler{top: 0px; right: 15px;}
.navbar-collapse {position: absolute;top: 100%;width: 100%;left: 0px;z-index: 9999;border-radius:21px;background:#fbfbfb; padding: 30px 30px; margin-top:12px;}
.navmenu .nav-item a {font-size: 18px;padding: 0px 0px;}
.navmenu li{margin-bottom: 30px;}
.navbar-nav {align-items: normal;}
.mobile {
    display: block;
}


.footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
  }

  .footer-right {
    align-items: center;
  }

.desktop{display: none;}
.mobilesilder{display: block;}

}






@media (max-width:767.8px) {



}





@media (max-width:576.8px) {

}


  
@media (max-width:480.8px) {
 
}


@media (max-width:425.8px) {
 
}





@media (max-width:390.8px) {



}



@media (max-width:340.8px) {
 



}


@media (max-width:330.8px) {
 
}